Whatsapp_chatbot.json
{
  "name": "Whatsapp chatbot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        0,
        -180
      ],
      "id": "d53c03c4-6925-43bb-a200-8a14e1ce5119",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        180
      ],
      "id": "a5085c37-7d0c-47ee-a3a8-f64b10705f34",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "jVCpXQHd8woXOE4D",
          "name": "FBS OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Received').item.json.contacts[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        80,
        160
      ],
      "id": "ff80043f-f849-4f71-b700-eb28e9c8417b",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "617801731407623",
        "recipientPhoneNumber": "={{ $('Chat Received').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        480,
        -20
      ],
      "id": "acd8aad1-8a03-40b3-9228-64a822910d05",
      "name": "WhatsApp Business Cloud",
      "credentials": {
        "whatsAppApi": {
          "id": "Pi5doKCI1PYC1cxJ",
          "name": "FBS WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ]
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -520,
        -100
      ],
      "id": "81f498eb-cd4c-46da-a6d2-ecedf794fb45",
      "name": "Chat Received",
      "webhookId": "da7392ce-d02c-4fa9-ab49-881baafbcf79",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "mdxV6hzetFkSSAkP",
          "name": "FBS WhatsApp on message"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "40eec3eb-be92-4b8d-ad9c-30bd496e1b39",
              "leftValue": "={{ $json.messages[0].text.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -300,
        -100
      ],
      "id": "a7601fcd-7773-4ca1-a748-a21e47dafb79",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4b7e2e9f-837b-45ee-8118-3deace2156de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "YLkQyoQoNAzn0tcj",
  "tags": []
}